<div class="logo_container">
    <img class="logo" src="../assets/Images/girl.svg">
  </div>
  <div class="buttons_container">
    <button routerLink="/home" class="navButton">HOME</button>
    <button routerLink="/profile" class="navButton">PROFILE</button>
    <button routerLink="/experiments" class="navButton">DASHBOARD</button>
    <button routerLink="/documentation" class="navButton">DOCUMENTATION</button>
    <button routerLink="/experiment-result" class="navButton">Experiment Result</button>
  </div>
  <div class="buttons_container">
    <button class="navButton">Log Out</button>
  </div>
